@media only screen and (max-width: 768px) {
    .containerForm {
        flex-direction: column;
    }
    .imageContainer {
        margin-top: 2rem;
        width: 80%; /* Ajustar el ancho para que se centre en dispositivos móviles */
    }
}